@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #323949;
    color: #fff;
}

/* Toast Message */

.toast-message {
    position: fixed;
    z-index: 9999;
    top: 2rem;
    right: 2rem;
    background-color: rgb(19, 201, 110);
    border: 1px solid #fff;
    border-radius: .25rem;
    padding: .5rem 2rem;
    cursor: pointer;
}

.toast-message-slide-in {
	animation: toast-animation-in 0.5s ease-in;
}

.toast-message-slide-out {
	animation: toast-animation-out 0.5s ease-in;
}

@keyframes toast-animation-in {
	from {
		transform: translateX(200px);
		opacity: 0;
	}
	to {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes toast-animation-out {
	from {
		transform: translateX(0px);
		opacity: 1;
	}
	to {
		transform: translateX(200px);
		opacity: 0;
	}
}

.input_group{
	position: relative;
}

.input_icon{
	position: absolute;
	top: 3px;
    left: 10px;
	color: #323949;
}

.input_group input[type='text'] {
	padding-left: 21px;
	color: #323949;
}